<!-- 
  This file launches three nodes:
    - robot_state_publisher that publishes TEO humanoid robot coordinate frames
    - joint_state_publisher that allows move the joints of TEO using a GUI (If gui=True)
    - rviz
-->

<launch>
  <arg name="gui" default="True" />
  <!--arg name="gui" default="False" /-->

  <param name="robot_description" 
    command="$(find xacro)/xacro.py $(find teo_description)/urdf/teo_humanoid.urdf.xacro" />
  <!--param name="robot_description" textfile="$(find teo_description)/urdf/teo_humanoid.urdf" /-->

  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teo_description)/cfg/teo_visualization.rviz" />
</launch>
